<div class="row">
  <div class="span7">
    <h1>John Williams Portfolio</h1>

    <div class="my_photo">
      <%= image_tag("Profile.JPG", :class => 'my_photo') %>
    </div>
  </div>
  <div class="span5">
    <div class="row">
      <h2>About:</h2>

      <p>
        I am a Junior Software Developer based out of Denver, Colorado.  Currently, I am focusing on
        web development with Ruby on Rails.  My goals are to become a Senior Level Programmer and learn
        as much I as can about software development.  I am very interested in growing my overall knowledge
        of multiple languages and becoming a well-rounded developer.  My hopes are to take what I have learned
        and mentor others to becoming great programmers, just as people have taken the time to teach me.
        There’s a long road ahead and I look forward to growing along the way.  It’s all about the journey…
      </p>
    </div>
    <div class="row">
      <h2>Connect:</h2>
      <div class="connect_icons">
        <%= link_to image_tag("linkedin-icon.png", :class => 'connect_icon'), "http://www.linkedin.com/pub/john-williams/22/5b0/567" %>
        <%= link_to image_tag("twitter-icon.png", :class => 'connect_icon'), "https://twitter.com/theillmrwill" %>
        <%= link_to image_tag("github.png", :class => 'github_icon'), "https://github.com/jwilliams722" %>
      </div>

      <%= mail_to("jwilliams722@gmail.com") %>

    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Projects:</h2>

    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <%= image_tag("Commerce.png") %>
          <div class="carousel-caption">
            <h4>Artist's E-commerce Site</h4>
            <p>
              This is an E-Commerce site that I created for some friends of mine who wanted to sell
              their art online.  This site is a generic template that I can alter to suit the needs
              of each individual artist.  I created this site to better understand test-driven development
              and the MVC framework, but also wanted to create something useful that I could put into practical
              use.  Now I can buy my friend’s artwork online from thousands of miles away…
            </p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("Comverge.png") %>
          <div class="carousel-caption">
            <h4>Comverge - Energy Made Better</h4>
            <p>
              For years, the answer to managing peak periods of energy usage has been one-way
              demand response. When the load gets too high, shut things down. This approach was
              designed simply to shave load – not to enable predictive, measurable, and accountable
              solutions. It's time to evolve. Intelligent energy management solutions build upon demand
              response, enabling two-way communication between providers and consumers – giving everyone
              the insight and control needed to optimize energy usage. Beyond just reducing the energy load,
              this new approach cuts costs, integrates other systems, and allows for the informed decision-making
              that will power the smart grid.
            </p>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
</div>





