<h1>Project List</h1>

<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @projects.each do |project| %>
      <tr>
        <td><%= %></td>
        <td><%= project.title %></td>
        <td>
          <%= image_tag project.image_url(:thumb) %>
        </td>
        <td><%= project.content %></td>
        <td><%= link_to 'Show', admin_project_path(project) %></td>
        <td><%= link_to 'Edit', edit_admin_project_path(project) %></td>
        <td><%= link_to 'Delete', admin_project_path(project), :confirm => 'Are you sure?',
                        :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New project', new_admin_project_path %>