<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<% if current_user %>
<td><%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-primary btn-mini" %></td>
<% end %>

<td><%= link_to 'Back', posts_path, :class => "btn btn-inverse btn-mini" %></td>